# Python environments
.venv/
venv/
.venvNST_Code/

# Python cache
__pycache__/
*.pyc

# Training datasets
/NST_Code/content_data/
/NST_Code/style_data/

# Training experiments
/NST_Code/experiment/

# Model files
*.pth
*.pt
*.ckpt

# Hugging Face model staging folder
/hugging_face_model/
/NST_Code/vgg_normalised.pth


# IDE
.vscode/
.idea/

# Environment variables
.env